:root {
    --primary-color: #ffcc00;
    --secondary-color: #0075be;
    --tertiary-color: #003a70;
}

* {
    box-sizing: border-box;
}

body, html {
    background-image: linear-gradient(50deg, #3d7dca 0%, #003a70 52%, #001833 90%);
    font-family: 'Lalezar', cursive;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* header and search bar START */
header {
    padding-bottom: 20px;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    text-align: center;
    font-size: 60px;
}

.solid-font {
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 25px;
}

.hollow-font {
    font-family: 'Bungee Shade', cursive;
    padding-bottom: 25px;
}

.box-style {
    background: rgb(61, 124, 202, .00);
    color: #ffcb05;
    font-size: 28px;
    margin: 30px;
    margin-top: 40px;
    border-radius: 5px;
    height: 100%;
  
}
/* header and search navigation END */


/* search history START*/
#list-opacity {
    background: rgb(61, 124, 202);
    background: rgb(61, 124, 202, .2);
    height: 67vh;
    text-align: center;
}

.saved-btn {
    width: 100%;
    font-size: 22px;
    border-radius: 5px;
    color: var(--tertiary-color);
    background: aliceblue;
    font-weight: bold;
}
.saved-btn:hover {
    background-color: var(--primary-color);
}
/* search history END*/


/* stats column START*/
.stats-card-font {
    font-family: 'Lalezar', cursive;
    font-size: 36px;
}

h3 {
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 5px;
    font-family: 'Lalezar', cursive;
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: linear-gradient(50deg, rgba(61,124,202,.2), rgba(0,58,112,.05));
}
/* stats column END*/


/* footer START */
.footer {
    background-color: var(--primary-color);
    padding: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* smaller screen sizes */
@media screen and (max-width: 980px) {
    body {
      overflow-x: hidden;
    }

    .stats-card-font {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    main {
        width: 100%;
    }

    #list-opacity {
        width: 25%;
    }

    .footer {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    body {
        width: 100%;
    }

    header h1 {
        font-size: 75px;
    }

    main {
        display: flex;
        flex-direction: column-reverse;
    }

    .input {
        font-size: 22px;
        text-align: center;
    }

    #search-btn {
        width: 66.66%;
        font-size: 22px;
    }

    #stat-column {
        text-align: center;
    }

    .stats-card-font {
        font-size: 42px;
    }

    h3 {
        font-size: 36px;
    }

    #list-opacity {
        height: fit-content;
        width: 95%;
    }

    #image {
        width: 95%;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {

    body {
        margin: 0;
    }
    header h1 {
      font-size: 50px;
    }

  .input {
      font-size: 18px;
    }

    #search-btn {
        font-size: 18px;
    }

    .footer {
        font-size: 10px;
        font-weight: bold;
    }

    .stats-card-font {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }

    #image {
        padding-right: 30px;
    }

    #list-opacity {
        width: 90%;
    }
}
